<!-- 
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>GIF 채팅방</title>
</head>
<body>
    <div>F12를 눌러 콘솔 탭과 네트워크 탭을 확인하세요</div>
    <script>
        const webSocket = new WebSocket("ws://localhost:8005"); // WebSocket 생성자에 연결할 서버 주소를 넣어 '웹소켓 객체'를 생성함.
        
        webSocket.onopen = function () { // 서버와 연결이 맺어지는 경우 opopen 이벤트 리스너가 호출됨.
            console.log('서버와 웹 소켓 연결 성공')
        }

        webSocket.onmessage = function (event) { // 서버로부터 메시지가 오는 경우 onmessage 이벤트 리스너가 호출됨.
            console.log(event.data);
            webSocket.send('클라이언트에서 서버로 답장을 보냅니다')
        }
    </script>
</body>
</html> 
-->




<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>GIF 채팅방</title>
</head>
<body>
    <div>F12를 눌러 콘솔 탭과 네트워크 탭을 확인하세요</div>
    <script src="/socket.io/socket.io.js"></script> 
    <script>
        // /socket.io/socket.io.js는 Socket.IO에서 클라이언트로 제공하는 스크립트임. -> 서버와 유사한 API로 웹 소켓 통신이 가능함. // 스크립트가 제공하는 io객체에 서버 주소를 적어 연결함.
        const socket = io.connect('http://localhost:8005', { // http 프로토콜을 사용함.
            path: '/socket.io', // 서버의 path 옵션과 일치하는 경로를 넣어줌.
            transports: ['websocket'] // 처음부터 웹 소켓만 사용함.
        })
        socket.on('news', function (data) { // 서버에서 보내는 news 이벤트를 받음.
            console.log(data)
            socket.emit('reply', 'Hello Node.JS') // news 이벤트가 발생할 경우, 서버에 reply이벤트를 보냄.
        })
    </script>
</body>
</html>



